@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0px auto;
}

header .container,
section .container {
  display: flex ;
  align-items: center;
  justify-content: space-between;
}

header {
  padding: 16px 0px;
  background-image: linear-gradient(red, white, black);
}

header, h2 {
  font-family: 'Aldrich', sans-serif;
}

header nav li {
  display: inline;
  margin-left: 10px;
}

header nav li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header nav li a:hover {
  text-decoration: underline;
}

section .container img {
  height: 380px;
}

section {
  padding: 24px 0px;
}

section .container {
  align-items: flex-start;
}

section h2 {
  margin-bottom: 16px;
}

section p {
  margin-bottom: 8px;
}

.img-historia {
  margin-right: 32px;
}

footer {
  background-image: linear-gradient(red, white, black);
  padding: 16px 0px;
  text-align: center;
  font-size: 0.80em;
  bottom: 0;
  width: 100%;
}

section p {
  text-indent: 8px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}